body {
    /* background-color: red; */
    padding: 0;
    margin: 0;
    padding-bottom: 2.5rem;
}

.wrapper {
    /* background-color: brown; */
    max-width: 1100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

.outer-nav {
    background-color: gray;
    width: 100%;
    height: 45px;
}

.navbar {
    /* background-color: white; */
    width: 100%;
    height: 45px;
    margin-top: -45px;
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a {
    padding-left: 3%;
    padding-right: 3%;
} 

.navbar a:active {
    color: rgb(224, 224, 224)
  }

.meIMG {
    max-width: 200px;
    width: 30%;
}

.meText {
    text-align: center;
    margin-top: -250px;
    margin-left: 200px;
}

.courseIntro {
    padding: 5%;
}

.courseContent {
    
    padding: 5%;
    /* background-color: orange; */
}

.Github {
    text-decoration: underline;
}

.footer {
    padding: 10px 10px 0px 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem; 
    background: #9D9D9D;
}

.cards {
    font-size: 70px;
    border: 2px solid black;
}

.card-nav {
    margin-top: 20px;
    text-align: center;
    background-color: gray;
    font-size: 20px;
    width: auto;
    padding: 1%;
}

.card-nav a {
    margin: 1%;
    padding: 0.5%;
    border: 1px solid black;
}

.card-nav a:hover {
    margin: 0%;
    padding: 1.2%;
    border: 3px solid black;
}

.draw-card {
    font-size: 100px;
}

form input {
    width: auto;
    height: auto;
    font-size: 30px;
}



/* GAME */

.flowchart {
    width: 500px;
    float:right;
    margin-top: 50px;
}

.pseudo {
    margin-top: 50px;
    background-color: #9D9D9D;
    width: 330px;
    padding: 10px;
}

.classes {
    font-size: 15px;
    width: 500px;
    float: right;
}

.ace {
    font-size: 200px;
}

.ace-text {
    float: right;
    font-size: 30px;
    margin-top: -130px;
}

.ace-button {
    display: flex;
    margin-left: 60%;
}

.ace-button > form {
    margin: 20px;
}

.player_cards_box {
    background-color: red;
    width: 1000px;
}

.player_cards {
    font-size: 150px;
    padding: -50px;
}

.player1, .player2 {
    font-size: 150px;
    letter-spacing: -20px;
}

.player1 {
    float: right;
    margin-top: 200px;
}

.game_over {
    font-size: 40px;
    margin-top: 50px;
}