{% extends "main.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 style="text-align: center;">Home</h1>

<img src="img/me.png" class="meIMG">

<p class="meText">Mitt namn är Hampus Gottlieb. Jag är uppvuxen i Täby strax norr om Stockholm, där gick jag i Tibble gymnasium på linjen Teknik inrikting information och media. Jag har alltid varit tekniskt intresserad. Länge ville jag jobba inom infrastruktur och stadsbyggnad. Men i gymnasiet märkte jag att jag inte var vidare bra på fysik, men däremot mycket bättre på programering. Förutom den begränsade programeringen i gymnasiet är jag självlärd och tror därför att det kommer vara mycket lärorikt på BTH.</p>


{% endblock %}