{% extends "base/base.html.twig" %}
{% block title %}Game{% endblock %}

{% block content %}

SPEL

<div class="cards">
    {{ cards ?? ""}}
</div>


<div class="cards">
    {{ player_cards ?? ""}}
</div>

{{ include('base/flash-messages.html.twig') }}
{% endblock %}
