{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block content %}



<div class="kmom01">
    <h1 style="text-align: center;">Kmom01</h1>

    <ul>
        <li>
            <p>Ber&auml;tta kort om dina f&ouml;rkunskaper och tidigare erfarenheter kring objektorientering.<br />Jag har endast st&ouml;tt p&aring; objektorientering inom oopython kursen tidigare.</p>
        </li>
        <li>
            <p>Ber&auml;tta kort om PHPs modell f&ouml;r klasser och objekt. Vilka &auml;r de grunder man beh&ouml;ver veta/f&ouml;rst&aring; f&ouml;r att kunna komma ig&aring;ng och skapa sina f&ouml;rsta klasser?<br />Vad jag f&ouml;rst&aring;r s&aring; &auml;r det relativt likt python och andra spr&aring;k, det finns dock inga magic methods d&aring; PHP anser att du inte ska omdefiniera PHP. </p>
        </li>
        <li>
            <p>Reflektera kort &ouml;ver den kodbas, koden, strukturen som anv&auml;ndes till uppgiften <code>me/report</code>, hur uppfattar du den?<br />Den liknar r&auml;tt mycket strukturen fr&aring;n webtec kursen, med tex base filen, men h&auml;r anv&auml;nder vi classer f&ouml;r att g&ouml;ra routrar ist&auml;llet f&ouml;r att ha en separat php fil f&ouml;r varje webbsida.</p>
        </li>
        <li>
            <p>Med tanke p&aring; artikeln &ldquo;PHP The Right Way&rdquo;, vilka delar in den finner du extra intressanta och v&auml;rdefulla? &Auml;r det n&aring;gra s&auml;rskilda omr&aring;den som du k&auml;nner att du vill veta mer om? Lyft fram n&aring;gra delar av artikeln som du k&auml;nner mer v&auml;rdefulla.<br />Det &auml;r en sak som finns i PHP som inte finns i andra spr&aring;k &auml;r autoloading, det &auml;r praktiskt taget en metod som l&aring;ter dig ladda in flera moduler/klasser genom en simpel loop ist&auml;llet f&ouml;r att manuellt importera alla.</p>
        </li>
        <li>
            <p>Vilken &auml;r din TIL f&ouml;r detta kmom?<br />Introduktion till b&aring;de PHP objektorientering och hur det skiljer sig fr&aring;n andra spr&aring;k, och symfony</p>
        </li>
    </ul>


</div>

{% endblock %}